---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak na:] Publikování a analýza výsledků testu? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System umožňuje grafu změny v kvality kódu projektu průběhu projektu. Toto video poskytuje pokyny o tom, jak publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Jak na:] Publikování a analýza výsledků testu?
====================
podle [Menegay Jan](https://twitter.com/CMenegay)

Visual Studio Team System umožňuje grafu změny v kvality kódu projektu průběhu projektu. Toto video obsahuje pokyny k publikování výsledků testů databázi projektu pro Team Foundation Server a výsledky přidružit číslo sestavení. Vidíte, že po publikování výsledků jsme můžete zobrazit grafické reprezentace změny v výsledky našich testů sestavení použijte Správce sestav.

[&#9654;Podívejte se na video (7 minut)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Předchozí](how-do-i-use-generic-tests.md)
> [další](how-do-i-discover-application-changes-prior-to-deployment.md)
