---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Postup:] Publikování a analyzovat výsledky testů? | Dokumenty Microsoft'
author: rick-anderson
description: Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu. Toto video obsahuje pokyny o tom, jak publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 08/16/2018
ms.locfileid: "41753423"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Postup:] Publikování a analyzovat výsledky testů?
====================
podle [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu. Toto video obsahuje pokyny o tom, jak publikovat výsledky testů do databáze projektu Team Foundation Server a přidružit výsledky s číslem sestavení. Vidíme, že po publikování výsledků jsme můžete zobrazit grafická reprezentace změny v našich výsledků testu sestavení použít Správce sestav.

[&#9654;Podívejte se na video (7 minut)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Předchozí](how-do-i-use-generic-tests.md)
> [další](how-do-i-discover-application-changes-prior-to-deployment.md)
