---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak na:] Publikování a analýza výsledků testu? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System umožňuje grafu změny v kvality kódu projektu průběhu projektu. Toto video poskytuje pokyny o tom, jak publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="6a394-105">[Jak na:] Publikování a analýza výsledků testu?</span><span class="sxs-lookup"><span data-stu-id="6a394-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="6a394-106">podle [Menegay Jan](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="6a394-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="6a394-107">Visual Studio Team System umožňuje grafu změny v kvality kódu projektu průběhu projektu.</span><span class="sxs-lookup"><span data-stu-id="6a394-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="6a394-108">Toto video obsahuje pokyny k publikování výsledků testů databázi projektu pro Team Foundation Server a výsledky přidružit číslo sestavení.</span><span class="sxs-lookup"><span data-stu-id="6a394-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="6a394-109">Vidíte, že po publikování výsledků jsme můžete zobrazit grafické reprezentace změny v výsledky našich testů sestavení použijte Správce sestav.</span><span class="sxs-lookup"><span data-stu-id="6a394-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="6a394-110">&#9654;Podívejte se na video (7 minut)</span><span class="sxs-lookup"><span data-stu-id="6a394-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="6a394-111">[Předchozí](how-do-i-use-generic-tests.md)
> [další](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="6a394-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
